.popUp {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;

    transition: 0.5s;
    
 
}

.popUp.active {    
    opacity: 1;

    pointer-events: all;
}

.popUp__content {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    width: 50vw;
    transform: scale(0.5);
    transition: 0.4s;

    text-align: justify;
}

.popUp__content.active {
    transform: scale(1);
}